<script th:inline="javascript">
    let labels = [];
    let data = [];


    /*<![CDATA[*/

    let resultCfs = [
        /*[# th:each="entry : ${resultCfs}"]*/
        {key: [[${entry.key}]], value: [[${entry.value}]]},
        /*[/]*/
    ];

    /*]]>*/

    resultCfs.forEach(function (result) {
        labels.push(result.key);
        data.push(result.value);
    });

    let backgroundColors = data.map(value => {
        if (value > 0.8) {
            return 'rgba(75, 192, 192, 0.6)';
        } else if (value > 0.6) {
            return 'rgba(255, 255, 0, 0.47)';
        } else if (value > 0.3) {
            return 'rgba(255, 165, 0, 0.6)';
        } else {
            return 'rgba(255, 99, 132, 0.6)';
        }
    });

    let chartData = {
        labels: labels,
        datasets: [{
            label: 'Уровень компетенции',
            data: data,
            backgroundColor: backgroundColors,
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 2
        }]
    };

    let ctx = document.getElementById('myChart').getContext('2d');

    let myChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: {
            indexAxis: 'y',
            plugins: {
                title: {
                    display: true,
                    text: 'Результаты',
                    padding: {
                        top: 20,
                        bottom: 20
                    },
                    font: {
                        size: 18,
                    }
                },
                legend: {
                    position: 'right',
                }
            },
            scales: {
                x: {
                    display: true,
                    ticks: {
                        autoSkip: false,
                        maxRotation: 0,
                        minRotation: 0
                    }
                }
            }
        }
    });

</script>