<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/pathreplacer.js}" defer></script>
</head>
<body>

<div th:replace="~{navbar}"></div>

<div style="max-width: 600px" class="container-form">
    <h4>Удалить профессию</h4>
    <form id="myForm" th:action="@{/expert-system/jobs/delete}" th:method="delete">
        <select name="id" id="mySelect" required>
            <option value="" selected>Выберите факт</option>
            <div th:each="job: ${jobs}">
                <option th:value="${job.id}"
                        th:text="'Id = ' + ${job.id} + ' (' + ${job.name} + ')'"></option>
            </div>
        </select>
        <input type="submit" value="Удалить"/>
    </form>
</div>

<div class="offset"></div>

</body>
</html>