<div class="navbar">
    <a href="/expert-system/start">Главная</a>
    <div class="dropdown">
        <button class="dropbtn">Профессии
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/item?action=create">Добавить</a>
            <a href="/item?action=read">Изменить</a>
            <a href="/item?action=update">Удалить</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Факты
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:href="@{/expert-system/facts/add}">Добавить</a>
            <a href="/category?action=read">Изменить</a>
            <a th:href="@{/expert-system/facts/delete}">Удалить</a>
        </div>
    </div>
</div>