<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{navbar}"></div>

<div th:if="${factCreated != null}">
    <div th:text="'Факт «' + ${factCreated.description} + '» добавлен. Id = ' + ${factCreated.id}" class="description">
    </div>
</div>

<div th:if="${factUpdated != null}">
    <div th:text="'Факт «' + ${factUpdated.description} + '» обновлен. Id = ' + ${factUpdated.id}" class="description">
    </div>
</div>

<div th:if="${factDeleted != null}">
    <div th:text="'Факт с id = ' + ${factDeleted} + ' удален'" class="description">
    </div>
</div>

<div th:if="${factCreated == null and factDeleted == null and factUpdated == null}">
    <div class="description">
        <p>Добро пожаловать в экспертную систему, помогающую выбрать будущую
            техническую профессию.</p>
    </div>
</div>

<div class="button-container">
    <a th:href="@{/expert-system/advice}" class="button">Узнать професиию</a>
</div>

<div class="offset"></div>

</body>
</html>